// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    margin: 0;
}

main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.wrap{
    position: fixed;
    top: 0;
    left: 0 ;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #8A99C2;
}

.logo{
    font-size: 20px;
    font-weight: 400;
    color: #e2e8f0;
    text-decoration: none;
    transition: transform .4s;
}
.logo:hover{
    transform: scale(1.3);
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    font-size: 20px;
    padding-left: 30px;
    font-weight: 400;
    color: #e2e8f0;
    text-decoration: none;
    align-self: center;
    transition: transform .4s;
}
.item:hover{
    transform: scale(1.3);
}

.item:first-child{
    padding-left: 0;
}

.promo{
    padding: 105px 150px 40px;
}

.promo_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text{
    font-size: 25px;
    font-weight: 400;
    color: #8A99C2;
}

.img-1{
    padding-left: 40px;
    width: 450px;
    height: 270px;
}

.card{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-1{
    padding-left: 30px;
    width: 280px;
    height: 340px;
    background-image: url("../images/2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.card-2{
    padding-left: 30px;
    width: 280px;
    height: 340px;
    background-image: url("../images/3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.card-3{
    padding-left: 30px;
    width: 280px;
    height: 340px;
    background-image: url("../images/4.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


.btn-1{
    position: absolute;
    margin-left: 40px;
    margin-top: 270px;
    background-color: #8A99C2;
    padding: 10px 50px;
    border-radius: 15px;
    text-decoration: none;
    color: #e2e8f0;
    font-size: 20px;
    transition: transform .4s;
}
.btn-1:hover{
    transform: scale(1.2);
}

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #8A99C2;
}
